@model ApiSimulation.Models.DTO.NotificationConfig

    <html>
    <head>
        <title>Notification</title>
    </head>
    <body style="font-family:Arial, Helvetica, sans-serif">
       @Html.BeginForm("")
    </body>
</html>
