<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- #region sadece serverda release olduğunda windows auth. ayarı devreye girsin.-->
  <system.webServer>
    <security xdt:Transform="Insert">
      <authentication>
        <windowsAuthentication enabled="true" />
        <anonymousAuthentication enabled="true" />
      </authentication>
    </security>
  </system.webServer>
  <!-- #endregion -->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>