USE [master]
GO
/****** Object:  Database [ApiSimulation]    Script Date: 4/13/2016 7:56:32 PM ******/
CREATE DATABASE [ApiSimulation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApiSimulation', FILENAME = N'E:\DATA\ApiSimulation.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ApiSimulation_log', FILENAME = N'F:\LOG\ApiSimulation_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApiSimulation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApiSimulation]
GO
/****** Object:  Table [dbo].[tResponse]    Script Date: 4/13/2016 7:56:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tResponse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_tResponse_CreateDate]  DEFAULT (getdate()),
	[Hit] [smallint] NOT NULL CONSTRAINT [DF_tResponse_Hit]  DEFAULT ((0)),
	[LastRequestDate] [datetime] NOT NULL CONSTRAINT [DF_tResponse_LastRequestDate]  DEFAULT (getdate()),
	[IsDelete] [bit] NOT NULL CONSTRAINT [DF_tResponse_IsDelete]  DEFAULT ((0)),
 CONSTRAINT [PK_tResponse] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tResponseDetail]    Script Date: 4/13/2016 7:56:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tResponseDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResponseID] [int] NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[ContentRaw] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_tResponseDetail_CreateDate]  DEFAULT (getdate()),
	[Delay] [int] NOT NULL CONSTRAINT [DF_tResponseDetail_Delay]  DEFAULT ((0)),
	[Hit] [smallint] NOT NULL CONSTRAINT [DF_tResponseDetail_Hit]  DEFAULT ((0)),
	[IsDelete] [bit] NOT NULL CONSTRAINT [DF_tResponseDetail_IsDelete]  DEFAULT ((0)),
 CONSTRAINT [PK_tResponseDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tResponse] ON 

GO
INSERT [dbo].[tResponse] ([ID], [Url], [Category], [CreateDate], [Hit], [LastRequestDate], [IsDelete]) VALUES (1, N'haber/kategori/getir', N'Sport', CAST(N'2016-01-02 00:00:00.000' AS DateTime), 12, CAST(N'2016-04-05 13:03:21.030' AS DateTime), 1)
GO
INSERT [dbo].[tResponse] ([ID], [Url], [Category], [CreateDate], [Hit], [LastRequestDate], [IsDelete]) VALUES (2, N'haber/detay/getir', N'Sport', CAST(N'2016-01-03 00:00:00.000' AS DateTime), 314, CAST(N'2016-04-05 13:03:21.030' AS DateTime), 1)
GO
INSERT [dbo].[tResponse] ([ID], [Url], [Category], [CreateDate], [Hit], [LastRequestDate], [IsDelete]) VALUES (3, N'video/galeri/getir', N'Sport', CAST(N'2016-01-04 00:00:00.000' AS DateTime), 216, CAST(N'2016-04-11 19:55:59.940' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[tResponse] OFF
GO
SET IDENTITY_INSERT [dbo].[tResponseDetail] ON 

GO
INSERT [dbo].[tResponseDetail] ([ID], [ResponseID], [ContentType], [ContentRaw], [CreateDate], [Delay], [Hit], [IsDelete]) VALUES (1, 3, N'application/json', N'{
    "ID": 3,
    "Url": "video/galeri/getir",
    "CreateDate": "/Date(1451858400000)/",
    "Hit": 3
  }', CAST(N'2016-03-03 00:00:00.000' AS DateTime), 500, 57, 1)
GO
INSERT [dbo].[tResponseDetail] ([ID], [ResponseID], [ContentType], [ContentRaw], [CreateDate], [Delay], [Hit], [IsDelete]) VALUES (9, 3, N'application/json', N'{ "Deneme": 1}', CAST(N'2016-02-03 00:00:00.000' AS DateTime), 2100, 60, 1)
GO
INSERT [dbo].[tResponseDetail] ([ID], [ResponseID], [ContentType], [ContentRaw], [CreateDate], [Delay], [Hit], [IsDelete]) VALUES (10, 2, N'application/json', N'{ "baskaDeneme": 123 }', CAST(N'2016-05-02 00:00:00.000' AS DateTime), 0, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[tResponseDetail] OFF
GO
ALTER TABLE [dbo].[tResponseDetail]  WITH CHECK ADD  CONSTRAINT [FK_tResponseDetail_tResponse] FOREIGN KEY([ResponseID])
REFERENCES [dbo].[tResponse] ([ID])
GO
ALTER TABLE [dbo].[tResponseDetail] CHECK CONSTRAINT [FK_tResponseDetail_tResponse]
GO
USE [master]
GO
