
<section id="template-engine">
    <div class="page-header">
        <h1>Template Engine <small><span>Tüm detaylı script işlemler</span></small></h1>
    </div>
    <p>
        Template engine kullanarak temel programlama işlemlerini gerçekleştirebiliriz. Örneğin bir <code>for</code> döngüsü kurabilir veya <code>if</code> yapıları ile dönmesini istediğimiz datayı istediğimiz koşula göre biçimlendirebiliriz.
        <h2>Temel</h2>
        Template kodlarınız <code>@@</code> ile başlamalıdır, Kod bloklarınız oluşturmak için <code>@@{ }</code> kullanılır, Yorum satrı haline getirmek için <code>@@* benim yorumum *@@</code> kullanılır.<br />
        Kod bloğundan çıkmak için <code>&lt;text&gt; template dışı kodlar &lt;/text&gt;</code> kullanılır.<br />
        Gönderdiğiniz Http isteğinin tüm detaylarını barındıran <code>HttpContext</code> nesnesi <code>@@Model.</code> şeklinde kullanılabilir.
    </p>



    <h2>Örnek kodlar</h2>

    <p><strong>Birden çok model oluşturmak</strong></p>
<pre>
[
   @@for(var i = 0; i < 10; i++)
    {
       &lt;text&gt;
       { "SimpleProp":"value" } 
       &lt;/text&gt;
    }
]
</pre>

    <p><strong>Post edilen parametreye göre model şekillendirmek</strong></p>
<pre>
@@if(Model.Request.Form["paramName"] != null)
{
    &lt;text&gt;
    "VisibleParameter":"Value"
    &lt;/text&gt;
}
</pre>

    <p><strong>Post parametreleri kullanmak</strong></p>
<pre>
{
    "AllParameters":"@@Model.Request.Form",
    "SpecificParameter":"@@Model.Request.Form["paramName"]"
}
</pre>

    <p><strong>Get parametreleri kullanmak</strong></p>
<pre>
{
    "AllParameters":"@@Model.Request.QueryString",
    "SpecificParameter":"@@Model.Request.QueryString["paramName"]"
}
</pre>

    <p><strong>Şimdiki zaman bilgisi</strong></p>
<pre>
{
    "ChangeDate":"@@DateTime.Now.ToString("dd.MM.yyyy")"
}
</pre>
    <p><strong>Alınabilecek temel bilgiler</strong></p>
<pre>
{
    "UserAgent":"@@Model.Request.UserAgent",
    "IP":"@@Model.Request.UserHostAddress;",
    "Client":"@@Model.Request.Browser.Browser",
    "Platform":"@@Model.Request.Browser.Platform",
    "ClientVersion":"@@Model.Request.Browser.Version",
    "RequestMethod":"@@Model.Request.HttpMethod",
}
</pre>
    <p><strong>Rastgele metin üretmek</strong> <code>LoremIpsum(int minWords, int maxWords, int minSentences, int maxSentences)</code></p>
<pre>
{
   "RandomText:"@@ApiSimulation.Helpers.LoremIpsumHelper.LoremIpsum(4,4,3,3)"
}
</pre>
    <p><strong>HttpStatusCode ataması yapmak</strong></p>
<pre>
@@{
    Model.Response.StatusCode = 403;
}
</pre>
    <p><strong>JsonPostConverter ile işlem yapmak</strong></p>
<pre>
@@{
    var obj = ApiSimulation.Helpers.PostDataHelper.GetJson();
}

ArrayCount = @@obj.Length

@@foreach(var item in obj)
{
  &lt;text&gt;
    AppID =  @@item.AppID
  &lt;/text&gt;
}
</pre>  
  <p><strong>Model validation</strong></p>
<pre>
@@{
   var obj = ApiSimulation.Helpers.PostDataHelper.GetJson();
   Model.Response.StatusCode = 200; // Successful
}

@@foreach(var item in obj)
{
  if(string.IsNullOrEmpty(item.AppID) ||
     string.IsNullOrEmpty(item.LogText)  ||
     string.IsNullOrEmpty(item.Type) ||
     string.IsNullOrEmpty(item.TimeStamp))
  {
     Model.Response.StatusCode = 412; // Precondition failed
     break;
  }
}
</pre>
  <p><strong>Özel StatusCode ile response content döndürmek</strong></p>
<pre>
@@if(durum)
 {
    Model.Response.TrySkipIisCustomErrors = true;
    Model.Response.StatusCode = 412;
    &lt;text&gt;
    { "Hata":true, "Message":"xxx" }
    &lt;/text&gt;
 }

@@if(durum)
 {
    Model.Response.TrySkipIisCustomErrors = true;
    Model.Response.StatusCode = 500;
    &lt;text&gt;
    { "Hata":true, "Message":"yyy" }
    &lt;/text&gt;
 }

@@if(durum)
 {
    Model.Response.TrySkipIisCustomErrors = true;
    Model.Response.StatusCode = 401;
    &lt;text&gt;
    { "Hata":true, "Message":"zzz" }
    &lt;/text&gt;
 }
</pre>

</section>